/* Pokèmon Font License */
@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
}

/* Global Styles */
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

* {
  box-sizing: border-box;
}

/* Body Style */
body {
  margin: 0%;
  background-color: lightblue;
}

/* Header Content Styles */
header {
  display: flex;
  align-items: row;
  background-color: #ac142b;
  height: 70px;
}

header > h1 {
  font-family: Pokemon;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px #3d5988;
  color: #f7c925;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0px 20px 0px 20px;
}

#search-form {
  margin-top: 20px;
}

#search-form > input {
  background-color: lightblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid black;
  width: 235px;
}

#search-form > button {
  background-color: lightgray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/* Home Text Style */
#home-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  top: 40%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
}

/* Class to Hide Error Message */
.show {
  display: hidden;
}

/* Error Message Style */
#error {
  color: #ac142b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

/* Pokèmon Card Style */
#pokemon-card {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 3px 15px #000000;
  margin: 20px auto 0px auto;
  width: 300px;
  height: 305px;
}

#pokemon-card-header {
  display: flex;
  align-items: row;
  justify-content: space-around;
}

#pokemon-card-header > h2 {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

#pokemon-card > img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 75%;
  height: 100px;
}

#pokemon-card > p {
  background-color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#pokemon-card > h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style for the text that lets the user know that they can click a box
to take them to a video */
#result > h4 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Video Results Style */
.video {
  display: flex;
  align-items: row;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 3px 15px #000000;
  margin: 0px auto 50px auto;
  width: 75%;
  cursor: pointer;
  transition: all 0.5s linear;
}

.video:hover {
  background-color: #a9a9a9;
}

.video > img {
  border-radius: 10px;
  width: 360px;
  height: 270px;
}

.video-info {
  margin: auto 0px auto 20px;
}

/* Mobile Styles */
@media all and (max-width: 800px) {
  /* Header Content Styles */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  header > h1 {
    font-size: 23px;
    text-align: center;
    margin: 0px auto 0px auto;
  }

  #search-form {
    margin-bottom: 20px;
  }

  #search-form > input {
    width: 137px;
  }

  #search-form > button {
    text-align: center;
  }

  /* Home Text Style */
  #home-text {
    font-size: 25px;
  }

  /* Error Text Style */
  #error {
    font-size: 20px;
  }

  /* Pokèmon Card Style */
  #pokemon-card {
    font-size: 15px;
    width: 95%;
    height: auto;
  }

  #pokemon-card-header {
    font-size: 10px;
  }

  /* Video Results Style */
  .video {
    flex-direction: column;
    width: 95%;
  }

  .video > img {
    width: 100%;
    height: auto;
  }

  .video-info {
    font-size: 15px;
  }
}
